// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
}

.social-btn {
  position: absolute;
  background: #3b5998;
  bottom: 0;
  width: 100px;
  height: 50px;
  border: 1px solid #3b6999;
  text-align: center;
  color: #fff;
  padding: 15px 10px 10px 10px;
  border-radius: 20px;
}

.social-btn:hover {
  color: white;
}
